aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
certifi
chardet
charset-normalizer
colorama
cryptocode
discord
discord-webhook
discord.py
docopt
easygui
et-xmlfile
fake-useragent
frozenlist
heroku
idna
Js2Py
MouseInfo
multidict
numpy
openpyxl
packaging
pandas
pipwin
PyAutoGUI
pycryptodomex
PyGetWindow
pyjsparser
PyMsgBox
pynput
pyperclip
PyPrind
PyRect
PyScreeze
pySmartDL
PySocks
python-dateutil
pytweening
pytz
pytz-deprecation-shim
requests
requests-futures
six
soupsieve
stem
torrequest
tzdata
tzlocal
urllib3
yarl